.quadrado {
    width:160px;
    height:160px;
    background:rgb(130, 27, 1);
    animation: moverDireita 5s linear infinite alternate;
}
    


.quadrado:hover {
  right:0;
}
 
 body {
   display: flex;
   justify-content: center ;
   align-items: center;
   padding-top: 35vh;
 }

 @keyframes moverDireita {
  0% {
    width:0px;
    height:0px;

    transform: rotate(360deg);
   background-color: #A100C7;
}
    12.5% {
        width:20px;
    height:20px;
        background-color: #00A1E6;}
    25% {
          background-color: #A1E633;}
    37.5% {background-color: #E6B02E;}
    50% {background-color: #DC0063;}
    62.5% {
        width:100px;
    height:100px;
        background-color: beige;}
    75% {background-color: rgb(89, 27, 96);}
    87.5% {
        width:200px;
    height:200px;
        background-color: rgb(24, 18, 126);}
    100% {background-color: rgb(36, 145, 127);}
}